/* ENTIRE PAGE*/
html {
    font-family:Arial, Helvetica, sans-serif;
    background-color: red;
    display: flex;
    justify-content: center;
}
/* CENTRAL PAGE */
body {
    justify-content: center;
    max-width: 900px;
    background-color: beige;
    margin: 0 auto;
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
    height: 110vh;
}

.container {
    justify-content: center;
    align-content: center;
    width: 80vw;
    max-width: 900px;
    height: 100vh;
    padding-top: 2%;
    background-color: yellow;
}

/*NAV BAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    left:0 ;
    right:0 ;
    text-decoration: none;
    background-color: orange;
    position: fixed;
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
a > img {
    height: 80px;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: pink;
    font-size: small;
    font-weight: bolder;
    padding: 10px;
}


/* CONTACT */

#form {
    padding: 10%;
}

#field {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

input:hover {
    background-color: yellow;
}

textarea:hover {
    background-color: pink;
}

.button {
    margin-top: 1%;
}

/* HOME */

/* Home Page Image */
.homeBackground {
    background-image: url("https://static.wixstatic.com/media/c3d345_c6df2a5b8ddf4cc5ba39a50de80dd453~mv2.png/v1/fill/w_973,h_695,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/BizCardFront.png");
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
}

/* ABOUT */

/* About Page Image */
.mePic {
    width: 64%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75cm;
    padding-bottom: 1cm;
    z-index: 0;
}

/* List Headers */
h4 {
    color: grey;
}
/* List Items */
li {
    list-style-type:square;
}

/* PORTFOLIO */

/* Portfolio Page Image */
.ringPic {
    width: 64%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75cm;
    padding-bottom: 1cm;
    z-index: 0;
}