/* MEDIA MODIFICATIONS */


/* PAGE WRAPPER */
#wrap {
    padding: 3rem 3rem 2rem
}

/* CENTRAL PAGE aka BODY*/
body {
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

/* CONTENT CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    padding-left: 10%;
}

/* CONTENT CONTAINER */
.containerB {
    display: flex;
    justify-content: center;
}

/*CONTENT TEXT CONTAINER */
#textBox {
    margin-left: 20%;
    padding-bottom: 20%;
}

/*NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    text-decoration: none;
    position: fixed;
    z-index: 1;
    background: linear-gradient(yellow, rgba(255, 255, 255, 0)
    )
}

/* Nav Hover */
nav:hover {
    background-color: yellow;
}

/* Nav Links Right */
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    color: brown;
}

/* Logo */
a > img {
    height: 6rem;
}


/* FOOTER */
footer {
    text-align: center;
    font-size: small;
    font-weight: bolder;
    height: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background: linear-gradient(rgba(255, 255, 255, 0), yellow
    )
}


/* CONTACT PAGE*/

#form {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

#field {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

input:hover {
    background-color: yellow;
}

textarea:hover {
    background-color: yellow;
}

.button {
    margin-top: 1.8%;
}

/* SUCCESS PAGE */
#success {
    display: block;
    text-align: center;
    margin:auto
}

/* ABOUT PAGE*/

/* Image */
.mePic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 1cm;
    z-index: 0;
}

/* Name */
#aboutName {
    z-index: 1;
    display: flex;
    justify-content: center;
}

/* List Headers */
h4 {
    color: grey;
}

/* List Items */
li {
    list-style-type:square;
}

/* Link Buttons */
button {
    display: flex;
    flex-direction: row;
    margin: 9px;
}