/* Nav Bar Mods */
header {
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 1;
    margin-top: 1cm;   
    margin-left: .75cm; 
}
header p {
    display: inline-block;
    margin: 1cm;
    text-transform: uppercase;
    font-weight: bold;
}
header a {
    display: inline-block;
    margin: 1cm;
}


/* About Page Image */
.mePic {
    width: 64%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75cm;
    padding-bottom: 1cm;
    z-index: 0;
}

/* Portfolio Page Image */
.ringPic {
    width: 64%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75cm;
    padding-bottom: 1cm;
    z-index: 0;
}

/* Body Title Text */
.headText {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: block;
    margin-left: 2cm;   
}

/* Body Text */
.bodyText {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: block;
    margin-left: 2cm;
}

/* List Mods */
ul {
    margin-left: 1cm;
}
h4 {
    color: grey;
    margin-left: 1.4cm;
}
li {
    list-style-type:square;
}

/* side by side lists */
.flex {
    display: inline-block;
}

/* Links */
a {
    color: blue;
}

/* Spacing between body and footer */
.bottomSpace {
    padding: 5%;
}
/* Footer Mods */
footer {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    color: blue;
    font-size: small;
    margin-top: 1cm;
    margin-bottom: 1cm;
}